@{
    ViewBag.Title = "Sample";
}

<div class="gridster">
    <ul>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="synergy" data-view="Meter" data-title="Synergy" data-min="0" data-max="100"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="synergy" data-view="Meter" data-title="Synergy" data-min="0" data-max="1000"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="synergy" data-view="Meter" data-title="Synergy" data-min="0" data-max="200"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="synergy" data-view="Meter" data-title="Synergy" data-min="0" data-max="300"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="synergy" data-view="Vumeter" data-title="VU" data-min="0" data-max="100"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="valuation" data-view="Number" data-title="Current Valuation" data-moreinfo="In billions" data-prefix="$"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="valuation" data-view="Number" data-title="Current Valuation" data-moreinfo="In billions" data-prefix="$"></div>
        </li>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="valuation" data-view="Number" data-title="Current Valuation" data-moreinfo="In billions" data-prefix="$"></div>
        </li>
    </ul>
    <center><div style="font-size: 12px">Try this: curl -d "{ 'auth_token': 'YOUR_AUTH_TOKEN', 'text': 'Hey, Look what I can do!' }" @Request.Url.Scheme://@Request.Url.Host:@Request.Url.Port/widgets/welcome</div></center>
</div>